@model MichaelsMusic.Models.GuitarCollection
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Guitars";
    ViewBag.Description = "This is the guitar collections page. These are all guitars that I either: own, used to own, or wish I owned (which is most of them). If you want to look at guitars, but you're not sure which ones, this is the right place to start.";
    ViewBag.Keywords = "guitars, mcnaught guitars, mcnaught vintage double cut, prs, prs guitars, paul reed smith, paul reed smith guitars, paul reed smith custom 24, prs custom 24, paul reed smith mccarty, prs mccarty, peavey hp custom, gibson midtown custom, king bee oak cliff, 1980 gibson les paul custom, collings city limits deluxe, collings cl deluxe";
}

<section class="section section-size1">
    <div class="row">
        <div class="nine columns">
            <h1>Guitars</h1>
            <p>This is the guitars collection page. If you want to look at guitars, but you're not sure which ones, this is the right place to start.</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
             <ul class="item-collection">
                @foreach (var guitar in Model.Guitars)
                {
                    <li class="clearfix">
                        <p class="title">
                            <a href="@($"/guitars/{guitar.Slug}/")">@guitar.DisplayName</a>
                        </p>
                        <a href="@($"/guitars/{guitar.Slug}/")">
                            <img src=@($"/images/guitars/{guitar.Thumbnail}") alt="" />
                        </a>
                        <p>@guitar.ShortDescription</p>
                        <p>
                            <a href="@($"/guitars/{guitar.Slug}/")">Learn more &raquo;</a>
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
