@model MichaelsMusic.Models.GuitarCollection
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Guitars";
    ViewBag.Description = "This is the guitars collection page. If you want to look at guitars, but you're not sure which ones, this is the right place to start.";
    ViewBag.Keywords = "guitars";
}

<section class="section section-size1">
    <div class="row">
        <div class="nine columns">
            <h1>Guitars</h1>
            <p>Let there be guitars! This is the guitars collection page. If you want to look at guitars, but you're not sure which ones, this is the right place to start.</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
             <ul class="item-collection">
                @foreach (var guitar in Model.Guitars)
                {
                    <li class="clearfix">
                        <p class="title">
                            <a href="@($"/guitars/{guitar.Slug}/")">@guitar.DisplayName</a>
                        </p>
                        <a href="@($"/guitars/{guitar.Slug}/")">
                            <img src=@($"/images/guitars/{guitar.Thumbnail}") alt="" />
                        </a>
                        <p>@guitar.ShortDescription</p>
                        <p>
                            <a href="@($"/guitars/{guitar.Slug}/")">Learn more &raquo;</a>
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
