@model MichaelsMusic.Models.GuitarCollection
@{
    ViewBag.Title = "Guitars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section section-size1">
    <div class="row">
        <div class="twelve columns">
            <h2>Guitars</h2>
        </div>
    </div>
    <div class="row">
        <div class="column">
             <ul class="item-collection">
                @foreach (var guitar in Model.Guitars)
                {
                    <li>
                        <p class="title">
                            <a href="@($"/guitars/{guitar.Slug}/")">@guitar.DisplayName</a>
                        </p>
                        <a href="@($"/guitars/{guitar.Slug}/")">
                            <img src=@($"/images/guitars/{guitar.Thumbnail}") alt="" class="pull-right" />
                        </a>
                        <p>@guitar.ShortDescription</p>
                        <p>
                            <a href="@($"/guitars/{guitar.Slug}/")">Learn more &raquo;</a>
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
